<%- include('views/header') %>
<div class="post-header">
    分类: <%= postInfo.categoryName %> | 发布日期: <%= postInfo.date %>
</div>
<div class="divider"></div>
<div class="markdown-body">
    <%- content %>
</div>
<div class="footer">
    作者/版权: <a href="mailto:dongsoso@hotmail.com?subject=Dogs%20Blog%20Email">Dogs</a> | 纠错/贡献: <a href="<%= postInfo.link %>">GitHub</a>
</div>
<%- include('views/footer') %>
